.pure-menu-item {
    height: inherit;
}

.content {
    padding: 1em;
}

img[data-enlargeable] {
    cursor: zoom-in;
}

.pure-g {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.pure-menu {
    background-color: #0E92F0;
}

.pure-menu-link {
    color: black;
    padding: 1em;
}

.pure-menu-link:hover {
    border-bottom: none;
}

.pure-menu-link:active {
    color: black;
    border-bottom: none;
}

body {
    background-color: #F1F1F7;
}

a {
    color: #0E92F0;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px #0E92F0 solid;
}

a:active {
    color: #0241D9;
    border-bottom: 2px #0241D9 solid;
}