.pure-menu-item {
    height: inherit;
}

.content {
    padding: 1em;
}

img[data-enlargeable] {
    cursor: zoom-in;
}

.pure-g {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
}